version: "{{ compose_version }}"

services:
  registry:
    image: "{{ registry_dict.image.name }}:{{ registry_dict.image.version }}"
    networks:
      internal:
    ports:
      - 5000
    volumes:
      - "{{ registry_dict.config_path }}/config.yml:/etc/docker/registry/config.yml"
      - "{{ registry_dict.cert_path }}:/certs"
      - "{{ registry_dict.data_path }}:/var/lib/registry"
